@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    
}
nav {
    background-color: black;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav > a {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav >a:hover {
    background-color:  rgb(0, 191, 255);
    color: darkblue; 
}

.btn {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    background-color:  rgb(0, 191, 255);
    border-radius: 5px;
    width: 120px;
    padding: 7px;
    text-align: center;
    display: inline-block;
}
.btn:hover {
    background-color: black;
    color: white; 
    transition-duration: 0.5s;

}
.api{
    background-color: rgb(201, 201, 201);
    height: 20px;
    padding-top: 55px;
    color: black;
    font-weight: bold;
    
    font-size: 0.75em;
    
}
#name{
    margin-left: 10px;
}
#price{
    margin-right: 0px;
    color: rgb(39, 39, 39);
}
#change{
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(39, 39, 39);
}
#name2{
    margin-left: 5px;
}
#price2{
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(39, 39, 39);
}
#change2{
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(39, 39, 39);
}
#name3{
    margin-left: 5px;
    margin-right: 0px;
}
#price3{
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(39, 39, 39);
}
#change3{
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(39, 39, 39);
}
#eur{
    margin-left: 30px
}
#btc{
    margin-left: 35px
}
.fng{
    background-color:white;
    height: 25px;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 0px; 
}

#value{
    padding-left: 5px;
    text-shadow: 1px 1px 10px  white;
}
#status{
    text-shadow: 1px 1px 10px  white;
}
#graph{
    background: linear-gradient(to right, rgb(234, 76, 56), rgb(26, 142, 207));
    border-radius: 0px 5px 5px 0px;
    height: 20px;
    width: 330px;
    font-weight: bold;
    padding-left: 15px;
}

body {
    background-color: black
}

header {
    background-color: rgb(0, 0, 73);
    min-height: 270px;
    text-align: center;
    padding-top: 200px;
}
header h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3ew;
}
header  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.col-1 img {
    max-width: 200px;
    padding-left: 10px;
    border-radius: 50%;   
}

main {
    padding: 40px;
    min-width: 300px;
    max-width: 1060px;
    background-color: white;
    margin: auto;
    
}
main h1 {
    color: black;
    margin: auto;
    
}
main img {
    height: 100%;
    padding-left: 0px;    
}
div#img {
    
    height: 180px;
    width: 220px;    
}

main div {
    width: 350px;
    height: 450px;

    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
main div h2 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 20px;
    color: darkblue;
}
main div p {
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
    color: darkblue;
}
main div > p > #bt0 {
    width: 70px;
    margin-left: 50px;
    margin-top: 20px;
}
main div > p > #bt1 {
    width: 70px;
    margin-left: 50px;
    margin-top: 0px;
}

#sect-1 {
    
    width: 100%;
    margin-top: 20px;
    display: block;
    
}

#sect-1 p {
    margin: 20px;
    
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
    color: darkblue;
    
    
}
#sect-2 {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
#bt2 {
    width: 100px;
    margin-left: 35px;
    margin-top: 20px;

}

div #myself {
    background-color: rgb(201, 201, 201);
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;

    width: 100%;
    height: 480px;

}
div #skills {
    background-color: gray;
    width: 100%;
    height: 430px;
    padding: 10px;
    border-radius: 0px;
}
div #skills > h2 {
    color: white;
    padding-top: 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
div #skills > p {
    margin-top: 60px;
    color: white;
    line-height: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

.container {
    width: 300px;
    
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
   
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
.container-1 {
    width: 100%;
    height: 2900px;
    box-shadow: none;
}
.container-2 {
    padding-top: 0px;
    margin-bottom: 110px;

    width: 100%;
    height: 860px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    position: relative;
    bottom: 0px;
    width: 100%;

}
footer a:hover {
    text-decoration: underline;
    color:  rgb(0, 191, 255);
}
a {
    color: inherit;
    text-decoration: none;
}



